body{
    margin-top: 0;
    margin-left: 5px;
    position: relative;
}

header{
    background: wheat;
    width: 525px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    align-items: center;
}

header img{
    width: 30px;
}

.box-message{
    width: 150px;
    height: 120px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 160px;
    left: 185px;
    background: wheat;
    visibility: hidden;
    border-radius: 10px;
    flex-direction: column;
    z-index: 100;
}

h3{
    margin: 0;
}

#restart{
    border-radius: 5px;
    outline: none;
}

#restart:hover{
    background: lightgray;
}

#score{
    font-size: 20px;
    margin-left: 5px;
    font-weight: 700;
}